<h1>Enrol as a new student</h1>

<% if flash[:errors] %>
  <%=  flash[:errors]%>
<% end %>

<%= form_for @student do |f|  %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name  %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name  %>
  <br>
  <%= f.label :email, 'Email address' %>
  <%= f.text_field :email  %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit 'Begin your Nottermore Journey', class: "btn btn-default" %>
<% end %>
