<%= authorized_for(@student.id) %>
<h1><%= @student.first_name%> <%= @student.last_name %></h1>
<h3><%= @student.email %> </h3> <br>

<% if @student.house_id != nil %>
  <h2>House: <%= link_to @student.house.name, house_path(@student.house) %></h2>
<% else  %>
  <h2> <%= link_to 'Sorting Ceremony', getsort_path, class: 'submit_button' %></h2>
<% end %>

<% if @student.patronu_id != nil %>
  <h2>Patronus: <%= @student.patronu.name%> </h2>
  <div class="patronus" style='background-image: url(<%= asset_path("patronu/#{@student.patronu.name.downcase}.jpg") %>)'>


  </div>
<% else  %>
<h2> <%= link_to 'Discover Patronus', getpatronu_path, class: 'submit_button' %></h2>
<% end %>

<% if flash[:authorized]  %>
  <%= flash[:authorized] %>
<% end %>

<% if @student.lessons != nil %>
<ul>
  <% @student.lessons.each do |lesson| %>
  <li> <%= lesson.professor.subject_name %> </li>
  <% end %>
</ul>
<% end %>
