<div class='main-content'>
<h1><%= @subject.name %></h1>

<h2>Taught by <%= link_to @subject.professor_name, professor_path(@subject.professor) %></h2>

<p class="text">
  <%= @subject.description %>
</p>

<h2><%= link_to 'All subjects', subjects_path %></h2>
<br><br><br><br><br>
<h5><%= link_to 'back to my profile', current_user %></h5>
</div>
