<!DOCTYPE html>
<html>
  <head>
    <title>Nottermore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Zilla+Slab:400,400i,600" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div class='header'>
      <div class="logo white-text">
        <h1>Nottermore</h1>
        <p> Like Pottermore, but not. </p>
      </div>
      <% if logged_in? %>
      <div class="white-text">
        <h4><%= link_to 'Profile', current_user, :style=> 'color:#FFFFFF;' %></h4>
      </div>
      <div class="white-text">
        <h4><%= link_to 'Houses', houses_path, :style=> 'color:#FFFFFF;' %></h4>
      </div>
      <div class="white-text">
        <h4><%= link_to 'Professors', professors_path, :style=> 'color:#FFFFFF;' %></h4>
      </div>
      <div class="white-text">
        <h4><%= link_to 'Subjects', subjects_path, :style=> 'color:#FFFFFF;' %></h4>
      </div>
      <div class="login-bits white-text">
          <p> You are logged in as <%= link_to current_user.first_name, current_user, :style=> 'color:#FFFFFF;' %> </p>
          <p> <%= link_to "Log out", logout_path, method: "post", :style=> 'color:#FFFFFF;' %> </p>
      </div>
        <% else %>
      <div class="login-bits white-text">
          <p> You are not logged in. </p>
          <p> <%= link_to "Log in?", login_path %> </p>
          <p> or </p>
          <p> <%= link_to "Sign up?", signup_path %> </p>
        <% end %>
      </div>
    </div>


      <%= yield %>


    <div class="footer">
      <h3> Bobby and Jo (and a bunch of other peoples assets what we got from the internet) &copy;</h3>
    </div>
  </body>
</html>
